@{
    ViewData["Title"] = "Thống kê và báo cáo";
    Layout = "~/Areas/TuVanVien/Views/Shared/_LayoutTuVanVien.cshtml";
}

<h2>Thống kê / Báo cáo</h2>
<p>Hiển thị báo cáo và thống kê tình hình xử lý đơn.</p>
