@model QuanLySuaChua_BaoHanh.Areas.QuanTriVien.Models.RoleViewModel
@{
    ViewData["Title"] = "Thêm role mới";
    Layout = "_LayoutAdmin";
}

<div class="container-fluid">
    <h1 class="mt-4">Thêm Role mới</h1>
    
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-user-plus mr-1"></i>
            Thông tin Role
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <form asp-action="Create">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Thêm</button>
                    <a asp-action="Index" class="btn btn-secondary">Quay lại</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}