@{
    ViewData["Title"] = "Trang chủ nhân viên kho";
    Layout = "_LayoutStashEmployee";
}
<div class="overflow-hidden">
    <div class="container-fluid col-xxl-10">
        <div class="row flex-lg-nowrap align-items-center g-5">
            <div class="col-lg-6 order-lg-2 text-center">
                <img style="clip-path: polygon(25% 0%, 100% 0%, 100% 99%, 0% 100%);"
                     src="https://images.unsplash.com/photo-1618004912476-29818d81ae2e?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8NzV8fHB1cnBsZXxlbnwwfDB8fHwxNjQ3NDcxNjY4&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768" src="https://images.unsplash.com/photo-1618004912476-29818d81ae2e?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8NzV8fHB1cnBsZXxlbnwwfDB8fHwxNjQ3NDcxNjY4&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768"
                     class="d-block mx-lg-auto img-fluid shadow"
                     alt="Warehouse" loading="lazy" width="800" height="500">
            </div>
            <div class="col-lg-6 col-xl-5 text-center text-lg-start pt-lg-5 mt-xl-4">
                <div class="mb-4">
                    <h1 class="fw-bold display-4 text-primary">Quản lý kho linh kiện</h1>
                </div>
                <div class="mb-4">
                    <p class="lead">
                        Chào mừng bạn đến với hệ thống quản lý kho linh kiện.<br>
                        Tại đây, bạn có thể dễ dàng quản lý phiếu nhập, phiếu xuất, kiểm tra tồn kho và theo dõi thông tin linh kiện.
                    </p>
                </div>
                <div class="mb-4">
                    <p class="fw-bold">Các chức năng nổi bật:</p>
                    <ul class="list-unstyled">
                        <li><i class="bi bi-check-circle-fill text-success"></i> Theo dõi tồn kho linh kiện</li>
                        <li><i class="bi bi-check-circle-fill text-success"></i> Quản lý nhập - xuất linh kiện</li>
                        <li><i class="bi bi-check-circle-fill text-success"></i> Xem báo cáo nhanh</li>
                        <li><i class="bi bi-check-circle-fill text-success"></i> Tìm kiếm và tra cứu linh kiện</li>
                    </ul>
                </div>
                <div class="row mt-4">
                    <div class="col-3"><img class="img-fluid" src="https://lclibrary.b-cdn.net/starters/wp-content/uploads/sites/15/2021/11/motorola.svg" alt="Motorola"></div>
                    <div class="col-3"><img class="img-fluid" src="https://lclibrary.b-cdn.net/starters/wp-content/uploads/sites/15/2021/11/asus.svg" alt="Asus"></div>
                    <div class="col-3"><img class="img-fluid" src="https://lclibrary.b-cdn.net/starters/wp-content/uploads/sites/15/2021/11/sony.svg" alt="Sony"></div>
                    <div class="col-3"><img class="img-fluid" src="https://lclibrary.b-cdn.net/starters/wp-content/uploads/sites/15/2021/11/samsung-282297.svg" alt="Samsung"></div>
                </div>
            </div>
        </div>
    </div>
</div>
