@model List<QuanLySuaChua_BaoHanh.Models.PhieuSuaChua>  

@{
    ViewData["Title"] = "Trang chủ";
    Layout = "/Areas/TuVanVien/Views/Shared/_LayoutTuVanVien.cshtml";
}

<div class="container mt-4">
    <h2 class="mb-4">Chào mừng Tư vấn viên!</h2>
</div>
